.thumbCarousel {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  border: 1px solid grey;
}

.viewer,
.thumbs {
  display: flex;
  flex-basis: 100%;
  border: 1px solid grey;
}

.viewer {
  height: 500px;
  justify-content: center;
  align-items: center;
}

.viewer img {
  max-width: 90%;
  max-height: 90%;
}

.thumbs {
  height: 100px;
  display: flex;
}

.thumb {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.thumb img {
  height: 100%;
  object-fit: contain;
}
