#calc {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.key {
  border: 1px solid red;
  display: grid;
  align-items: center;
  justify-items: center;
}

#display {
  grid-column: 1 / 5;
  grid-row: 1;
}

#display #displayRight {
  grid-row: 1;
  width: 100%;
  text-align: right;
}

#plusMinus {
  grid-column: 2 / 4;
  grid-row: 2;
}

#zero {
  grid-column: 1 / 3;
  grid-row: 6;
}
